@model WebSite.Models.Model_Proveedor
@{
    ViewBag.Title = "Solicitud";
}

<h2>Solicitud</h2>

<table id="tb_solicitud"
       @*class="table table-hover" data-show-multi-sort="true"
       data-show-columns="true"
       data-side-pagination="server" data-url='@Url.Action("Solicitud")'
       data-ajax="ajaxRequest"
       data-pagination="true"
       data-row-style="rowStyle"
       data-click-to-select="true"*@
       >
    <thead>
        <tr>
            <th data-field="nombre">Nombre</th>
            <th data-field="precio">Precio</th>
            <th data-field="proveedor">Proveedor</th>
            <th data-field="stock">Stock</th>
            <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents" style="width:305px">solicitud</th>
        </tr>
    </thead>
</table>
<script>
    //$(document).ready(function () {
    var $table = $("#tb_solicitud");
    $(function () {
        var locations = @Html.Raw(Json.Encode(Model.ListaProveedor));
        
        var data =locations;
        $table.bootstrapTable({data: data});
        //alert(JSON.stringify(locations));
    });
    function actionFormatter(value, row, index) {
        var modelos;
        return [
        '<a class="solicitar ml10" href="#" title="Solicitar" style="color:#DD4814"> solicitar',
                      '<i class="glyphicon glyphicon-eye-open" style="font-size:23px"></i>',
                      '</a>'
                      
        ].join('');
    }
    
  
</script>