<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISmodelo" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60184/Smodelo.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISmodelo" contract="ModeloWS.ISmodelo"
                name="BasicHttpBinding_ISmodelo" />
        </client>
    </system.serviceModel>
</configuration>